{% extends "base.html" %}

{% block content %}

<div class="study-container">

    <h1>Study Session</h1>

    <p class="study-progress">
        {{ deck["name"] }} • Card {{ current }} of {{ total }}
    </p>

    {% if card %}

    <div class="study-card">

        <h2 class="study-word">
            {{ card["english"] }}
        </h2>

        {% if show_answer %}

        <div class="study-answer">

            <p>
                <strong>{{ card["vietnamese"] }}</strong>
            </p>

            <p>{{ card["ipa"] }}</p>

            <p>{{ card["part_of_speech"] }}</p>

            <br>

            <p>{{ card["example"] }}</p>

            <p>{{ card["example_translation"] }}</p>

        </div>

        <form method="POST"
              action="{{ url_for('study.review') }}"
              class="rating-buttons">

            <button type="submit" name="rating" value="forgot">
                Forgot
            </button>

            <button type="submit" name="rating" value="hard">
                Hard
            </button>

            <button type="submit" name="rating" value="good">
                Good
            </button>

            <button type="submit" name="rating" value="easy">
                Easy
            </button>

        </form>

        {% else %}

        <p class="study-hint">
            Think of the answer before revealing it.
        </p>

       <div class="actions" style="justify-content:center;">

   <button
    type="button"
    onclick="speakWord()"
    title="Pronounce"
    style="
        background:#ececec;
        color:#333;
        border:1px solid #ccc;
        border-radius:8px;
        padding:8px 14px;
        font-size:15px;
        cursor:pointer;
        height:34px;
        line-height:1;
        margin-top:22px;  
    ">
    Audio
</button>

    <form method="POST"
          action="{{ url_for('study.show_answer') }}"
          style="display:inline">

        <button type="submit">
            Show Answer
        </button>

    </form>

</div>
        {% endif %}

    </div>

    {% else %}

    <div class="study-card">
        <h2>All cards completed.</h2>
    </div>

    {% endif %}

</div>
<script>
function speakWord() {

    const word = "{{ card['english'] }}";

    if ("speechSynthesis" in window) {

        speechSynthesis.cancel();

        const utterance = new SpeechSynthesisUtterance(word);

        utterance.lang = "en-US";
        utterance.rate = 0.9;
        utterance.pitch = 1;

        speechSynthesis.speak(utterance);
    }
}
</script>
{% endblock %}

