{% extends "base.html" %}

{% block content %}

<h1>{{ deck["name"] }}</h1>

<p>{{ deck["description"] }}</p>

<p>
    Total Cards:
    <strong>{{ cards|length }}</strong>
</p>
<div class="actions">

    <a href="{{ url_for('decks.new_card', deck_id=deck['id']) }}"
       class="btn">
        + Add Card
    </a>

    <a href="{{ url_for('decks.upload_csv', deck_id=deck['id']) }}"
       class="btn">
        Import CSV
    </a>

    <a href="{{ url_for('study.start', deck_id=deck['id']) }}"
       class="btn">
        Start Study
    </a>

</div>
<hr>

{% if cards %}

<table border="1" cellpadding="8">

<tr>
    <th>English</th>
    <th>Vietnamese</th>
    <th>POS</th>
    <th>Difficulty</th>
    <th>Actions</th>
</tr>

{% for card in cards %}

<tr>

<td>{{ card["english"] }}</td>

<td>{{ card["vietnamese"] }}</td>

<td>{{ card["part_of_speech"] }}</td>

<td>{{ card["difficulty"] }}</td>

<td>

<td>

    <div class="table-actions">

        <a href="{{ url_for('decks.edit_card', card_id=card['id']) }}"
           class="btn">
            Edit
        </a>

        <form
            action="{{ url_for('decks.remove_card', card_id=card['id']) }}"
            method="POST">

            <button type="submit" class="btn-delete">
                Delete
            </button>

        </form>

    </div>

</td>

</td>

</tr>

{% endfor %}

</table>

{% else %}

<p>No cards yet.</p>

{% endif %}

{% endblock %}