{% extends "base.html" %}

{% block content %}

<h1>Decks</h1>

<div class="actions">
    <a href="{{ url_for('decks.new_deck') }}" class="btn">
        + Create Deck
    </a>
</div>

{% if decks %}

    {% for deck in decks %}

    <div class="card">

        <a href="{{ url_for('decks.view_deck', deck_id=deck['id']) }}"
           class="deck-title">
            {{ deck["name"] }}
        </a>

        <p>{{ deck["description"] }}</p>

        <p><strong>{{ deck["card_count"] }}</strong> cards</p>

    </div>

    {% endfor %}

{% else %}

<p>No decks created yet.</p>

{% endif %}

{% endblock %}